.card {
    width: 300px;
    height: 600px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #3333;
    background-color: rgba(199, 96, 189, 0.645);
    padding: 10px;
    text-align: center;
    border: 5px solid #850a77;
    color:rgb(206, 211, 211);
}

.card img {
    width: 275px;
    height: 450px;
}